In [4]:
for x in range(6):
    for y in range(x):
        print(x, end ='')
    print("\r")

1
22
333
4444
55555

In [7]:
for x in range(6):
    for y in range(1,x+1):
        print(y, end ='')
    print("\r")

1
12
123
1234
12345

In [14]:
for x in reversed(range(7)):
    for y in range(x):
        print(x, end ='')
    print("\r")

666666
55555
4444
333
22
1

In [22]:
b = 0
for x in range(6,0,-1):
    b+=1
    for j in range(1, x + 1):
        print(b, end ='')
    print("\r")

111111
22222
3333
444
55
6

In [26]:
rows  = 5
num = rows
for i in range(5, 0, -1):
    for j in range(0,i):
        print(rows, end ='')
    print("\r")

55555
5555
555
55
5

In [27]:
for i in range(5, 0, -1):
    print(i, end ='')

54321

In [45]:

for x in reversed(range(1,6)):
    for y in range(0,x+1):
        print(y, end = ' ')
    print("\r")

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [41]:
rows = 5
for i in range(rows, 0, -1):
    for j in range(0, i + 1):
        print(j, end=' ')
    print("\r")

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [48]:
for x in range(7):
    for y in reversed(range(1,x)):
        print(y, end =' ')
    print("\r")

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [55]:
rows = 7
for i in range(1, rows):
    for j in range(0, i+1):
        print(i * j, end='  ')
    print("\r")

0
0  2
0  3  6
0  4  8  12
0  5  10  15  20
0  6  12  18  24  30

In [2]:
rows = 7
for i in range(1, rows):
    for j in range(0, i+1):
        print(i * j, end='  ')
    print("\r")

0  1
0  2  4
0  3  6  9
0  4  8  12  16
0  5  10  15  20  25
0  6  12  18  24  30  36

In [69]:
for x in range(9):
    for y in reversed(range(1,x)):
        print(y*2, end=' ')
    print("\r")

2
4 2
6 4 2
8 6 4 2
10 8 6 4 2
12 10 8 6 4 2
14 12 10 8 6 4 2

In [7]:
for x in range(9):
    for y in reversed(range(x)):
        print(2**y,  end=' ')
    print("\r")

1
2 1
4 2 1
8 4 2 1
16 8 4 2 1
32 16 8 4 2 1
64 32 16 8 4 2 1
128 64 32 16 8 4 2 1

In [33]:
for x in range(9):
    for y in reversed(range(x)):
        print(2**y,  end=' ')
    print("\r")

1
2 1
4 2 1
8 4 2 1
16 8 4 2 1
32 16 8 4 2 1
64 32 16 8 4 2 1
128 64 32 16 8 4 2 1

In [51]:
for x in range(9):
    for y in (range(x)):
        print(2**y,  end=' ')
    for z in reversed(range(1,x)):
        print(z, end = ' ')
    print("\r")

1
1 2 1
1 2 4 2 1
1 2 4 8 3 2 1
1 2 4 8 16 4 3 2 1
1 2 4 8 16 32 5 4 3 2 1
1 2 4 8 16 32 64 6 5 4 3 2 1
1 2 4 8 16 32 64 128 7 6 5 4 3 2 1

In [52]:
for x in range(9):
    for y in (range(0,x,1)):
        print(2**y,  end=' ')
    for z in reversed(range(1,x)):
        print(z, end = ' ')
    print("\r")

1
1 2 1
1 2 4 2 1
1 2 4 8 3 2 1
1 2 4 8 16 4 3 2 1
1 2 4 8 16 32 5 4 3 2 1
1 2 4 8 16 32 64 6 5 4 3 2 1
1 2 4 8 16 32 64 128 7 6 5 4 3 2 1

In [64]:
counter = 1
stop =2
for x in range(5):
    for y in range(1,stop):
        print(counter, end =' ')
        counter = counter+1
    print("")
    stop = stop+2

1
2 3 4
5 6 7 8 9
10 11 12 13 14 15 16
17 18 19 20 21 22 23 24 25

In [102]:

stop =2
start = 1
counter = stop
for x in range(2,6):
    for y in (range(start,stop)):
        counter = counter-1
        print(counter, end =' ')
        
    print("")
    
    start = stop
    
    stop = start+x
    counter =stop

1
3 2
6 5 4
10 9 8 7

In [77]:
start = 1
stop = 2
currentNumber = stop
for row in range(2, 6):
    for col in range(start, stop):
        currentNumber -= 1
        print(currentNumber, end=' ')
    print("")
    start = stop
    stop += row
    currentNumber = stop

1
3 2
6 5 4
10 9 8 7

In [127]:
num = 7
LastEvenNumber = 2 * num
evenNumber = LastEvenNumber
for x in range(1,num):
    evenNumber = LastEvenNumber
    for y in range(x):
        print(evenNumber, end = ' ')
        evenNumber-=2
        
    print("\r")

14
14 12
14 12 10
14 12 10 8
14 12 10 8 6
14 12 10 8 6 4

In [157]:
for x in range(1,10):
    for y in range(1,x-1):
        print(y, end =' ')
    for y in reversed(range(1,x)):
#     for y in (range(x-1,0,-1)):
        print(y, end = " ")
    print("\r")

1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1
1 2 3 4 5 6 5 4 3 2 1
1 2 3 4 5 6 7 6 5 4 3 2 1
1 2 3 4 5 6 7 8 7 6 5 4 3 2 1

In [162]:
for x in reversed(range(1,7)):
    for y in reversed(range(1,x)):
        print(y, end = " ")
    print("\r")

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [172]:
for x in range(8):
    for y in range(x+1):
        print(y*x, end = " ")
    print("\r")

0
0 1
0 2 4
0 3 6 9
0 4 8 12 16
0 5 10 15 20 25
0 6 12 18 24 30 36
0 7 14 21 28 35 42 49

In [196]:
for x in (range(7)):
    for y in (range(x+1,7,1)):
        print(y, end =" ")
    print("\r")

1 2 3 4 5 6
2 3 4 5 6
3 4 5 6
4 5 6
5 6
6

In [231]:
num = 6
rows = 6
for i in range(1, rows):
        for j in reversed(range(i,rows)):
        #for j in range(rows - 1, i, -1):
            print(j, end = " ")
        for k in range(i):
            print("   ", end = " ")
            
        for m in range(i,rows):
            print(m, end = " ")
        print("\r")

5 4 3 2 1     1 2 3 4 5
5 4 3 2         2 3 4 5
5 4 3             3 4 5
5 4                 4 5
5                     5

In [224]:
rows = 6
for i in range(0, rows):
    for j in reversed(range(i+1,rows)):
        print(j, '', end='')
    for l in range(i):
        print('    ', end='')
    for k in range(i + 1, rows):
        print(k, '', end='')
    print('\n')

5 4 3 2 1 1 2 3 4 5

5 4 3 2     2 3 4 5

5 4 3         3 4 5

5 4             4 5

5                 5

In [239]:
num =6
for x in range(1,num):
    for j in range(1,num):
        if (j <= x):
            print(x, end = ' ')
        else:
            print(j, end= ' ')
    print(" ")

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

In [252]:
for x in range(1,6):
    num = 1
    for y in range(6,0,-1):
        if (y > x):
            print(" ", end = ' ')
        else:
            print(num, end = ' ')
            num  = num + 1
    print("")

          1
        1 2
      1 2 3
    1 2 3 4
  1 2 3 4 5

In [246]:
rows = 6
for row in range(1, rows):
    num = 1
    for j in range(rows, 0, -1):
        if j > row:
            print(" ", end=' ')
        else:
            print(num, end=' ')
            num += 1
    print("")

          1
        1 2
      1 2 3
    1 2 3 4
  1 2 3 4 5

In [3]:
size = 7
m = (2 * size) - 2
for i in range(0, size):
    for j in range(0, m):
        print(end=" ")
    m = m - 1  # decrementing m after each loop
    
    for j in range(0, i + 1):
        print("* ", end=' ')
    print(" ")

            11
*
           10
*  *
          9
*  *  *
         8
*  *  *  *
        7
*  *  *  *  *
       6
*  *  *  *  *  *
      5
*  *  *  *  *  *  *