In [5]:
array_nums = [1, 2, 3, 5, 7, 8, 9, 10]
odd_ctr = (list(filter(lambda x: (x%2 != 0) , array_nums)))
print(odd_ctr)

[1, 3, 5, 7, 9]

In [2]:
def isPalindrome(s):
    print(s[::-1])
    return s == s[::-1]

s = "malayalam"
ans = isPalindrome(s)
 
if ans:
    print("Yes")
else:
    print("No")

malayalam
Yes

In [15]:
array_nums = [1, 2, 3, 5, 7, 8, 9, 10]
tt = array_nums[::-1]
print(tt)

[10, 9, 8, 7, 5, 3, 2, 1]

In [5]:
def palindrome(a):
    midpart = len(a)//2
    print(midpart)
    lastpart = len(a)-1
    
   
    for i in range(midpart):
        if(a[i] == a[len(a)-i-1]):
            print(a[i] ,"-----------", a[len(a)-i-1])
        else:
            print("no")

        
        

#         if a[i]
    
strin ="malayalam"
si = palindrome(strin)

4
m ----------- m
a ----------- a
l ----------- l
a ----------- a

In [10]:
def symmetry(a): 
      
    n = len(a) 
    flag = 0
      
    # Check if the string's length 
    # is odd or even 
    if n%2: 
        mid = n//2 +1
    else: 
        mid = n//2
          
    start1 = 0
    start2 = mid 
      
    while(start1 < mid and start2 < n): 
        print(a[start1],"==============", a[start2])
          
        if (a[start1]== a[start2]): 
            start1 = start1 + 1
            start2 = start2 + 1
        else: 
            flag = 1
            break
       
    # Checking the flag variable to  
    # check if the string is symmetrical 
    # or not 
    if flag == 0: 
        print("The entered string is symmetrical") 
    else: 
        print("The entered string is not symmetrical") 
    

strin ="malamalam"
ee = symmetry(strin)

m ============== a
The entered string is not symmetrical

In [11]:
def isPalindrome(str):
 
    # Run loop from 0 to len/2 
    for i in range(0, int(len(str)/2)): 
        if str[i] != str[len(str)-i-1]:
            return False
    return True
 
# main function
s = "malayalam"
ans = isPalindrome(s)
 
if (ans):
    print("Yes")
else:
    print("No")

Yes

In [20]:
ip_str = 'Hello,Have you tried our tutorial section yat?'

# make it suitable for caseless comparisions
ip_str = ip_str.casefold()
vowels = 'aeiou'
count = 0
counts = {}.fromkeys(vowels, 0)
print("::::::::::::",counts)
ff =[]
if "a" in counts:
    print("hello")
for x in ip_str:
    if x in vowels:
        counts[x]+=1
#         if x in counts:
#             counts[x]+=1
print(counts)

#   {'a': 3, 'e': 4, 'i': 3, 'o': 5, 'u': 3}      print(",".join(x))

:::::::::::: {'a': 0, 'e': 0, 'i': 0, 'o': 0, 'u': 0}
hello
{'a': 3, 'e': 4, 'i': 3, 'o': 5, 'u': 3}

In [10]:
list = [100, 300, 400,550]
list.pop(1)
print(list)

[100, 400, 550]

In [30]:
list = [10,20,30,40,55]
del list[1]

# height of pole = 12 #jump = 3 #sleep = 1

In [44]:
#output = 6

def monkeyjump(height,jump,sleep):
    count = 0
    if height ==1:
        return 1
    else:
        while(jump< height):
            count+=1
            
            height = height-(jump-sleep)
        count+=1

    return (count)
    
poleheight = 14
jump = 4
sleep = 1
monkeyjump(poleheight, jump,sleep)

5

# minimum approach

In [129]:
# Python3 implementation of the approach 
  
# Function to return the minimum cost 
def minimumCost(price, n): 
  
    # Sort the price array 
    price = sorted(price) 
    totalCost = 0
  
    # Calcualte minimum price 
    # of n-2 most costly person 
    for i in range(n - 1, 1, -2):
        print(";;;;;;;;;;",i)
        if (i == 2): 
            totalCost += price[2] + price[0] 
            print(price[2],"<>>>>>>>>>>>>",price[0])
            
        else: 
  
            # Both the ways as discussed above 
            price_first = price[i] + price[0] + 2 * price[1] 
            price_second = price[i] + price[i - 1] + 2 * price[0]
            totalCost += min(price_first, price_second) 
            print(price[i] ,"????????", price[0],"??????",totalCost,"---",price[i - 1],"\\\\\\\\",i,"----",price_first,"---",price_second)
    if (n == 1): 
        totalCost += price[0]
    else: 
        totalCost += price[1] 
    return totalCost 
  
# Driver code 
  
price = [30, 40,60,70,50,90] 
n = len(price) 
  
    
# 40+30+70+60+90

# 50,40,30
print(minimumCost(price, n))

;;;;;;;;;; 2
60 <>>>>>>>>>>>> 30
130

In [127]:
price = [30, 40,60] 
n = len(price)
for i in range(n-1,1,-1):
    print(price[i])

60

In [5]:
class Class1: 
    def m(self): 
        print("In Class1")   
       
class Class2(Class1): 
    def m(self): 
        print("In Class2") 
        Class1.m(self)
  
class Class3(Class1): 
    def m(self): 
        print("In Class3")      
      
class Class4(Class2, Class3): 
    def m(self): 
        print("In Class4")    
        Class2.m(self) 
        Class3.m(self) 
        Class1.m(self) 
  
obj = Class4() 
obj.m()

In Class4
In Class2
In Class1
In Class3
In Class1

In [4]:
# Python Program to depict multiple inheritance 
# when we try to call m of Class1 from both m of 
# Class2 and m of Class3 

class Class1: 
	def m(self): 
		print("In Class1") 
	
class Class2(Class1): 
	def m(self): 
		print("In Class2") 
		Class1.m(self) 

class Class3(Class1): 
	def m(self): 
		print("In Class3") 
		Class1.m(self) 
	
class Class4(Class2, Class3): 
	def m(self): 
		print("In Class4") 
		Class2.m(self) 
		Class3.m(self) 
	
obj = Class4() 
obj.m()

In Class4
In Class2
In Class1
In Class3
In Class1